#bandera{
    height: 4vh;
    width: 4vh;
}
#fondonav{
    background-color: #680b2f;
    color: white;
}
body{
    background-color: #020f2a;
    color: white;
    
    
}
footer{
    background-color: #680b2f;
    color: white;

}
#bajo{
    width: 500px;
}
#gruposf{
    width:786.13px ;
}
